/* * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
} */

/* body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: #fff;
  overflow-x: hidden;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

a {
  text-decoration: none;
} */

/* a:focus {
  outline: 0;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
} */

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jfe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ac {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ae {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  background: -o-radial-gradient(50% 0%, 48.99% 59.86%, #211E24 0%, #151019 100%);
  background: radial-gradient(48.99% 59.86% at 50% 0%, #211E24 0%, #151019 100%);
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 110px;
  height: 35px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  padding: 0 20px;
  padding-right: 30px;
  -webkit-clip-path: polygon(0 1%, 100% 0%, 90% 100%, 0% 100%);
          clip-path: polygon(0 1%, 100% 0%, 90% 100%, 0% 100%);
}

.button:hover {
  color: #fff;
  opacity: 0.8;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.button_black {
  background: -o-radial-gradient(91.95% 75%, 100.42% 416.35%, #2B262F 0%, #151019 100%);
  background: radial-gradient(100.42% 416.35% at 91.95% 75%, #2B262F 0%, #151019 100%);
}

.button_black:hover {
  color: #fff;
  opacity: 1;
}

.button_gold {
  background: -o-radial-gradient(14.26% 6.75%, 125.25% 125.25%, #E6AE3C 0%, #A1741A 100%);
  background: radial-gradient(125.25% 125.25% at 14.26% 6.75%, #E6AE3C 0%, #A1741A 100%);
}

.button_blue {
  background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #3C94E6 0%, #1A50A1 100%);
  background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #3C94E6 0%, #1A50A1 100%);
}

.button_orange {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E68E3C 0%, #A15B1A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E68E3C 0%, #A15B1A 100%);
}

.button_pink {
  background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #E63CAC 0%, #961AA1 100%);
  background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #E63CAC 0%, #961AA1 100%);
}

.button_redorange {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E63C3C 0%, #A15B1A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E63C3C 0%, #A15B1A 100%);
}

.button_violet {
  background: -o-radial-gradient(16.8% 13.96%, 120.9% 104.38%, #A53CE6 0%, #451AA1 100%);
  background: radial-gradient(120.9% 104.38% at 16.8% 13.96%, #A53CE6 0%, #451AA1 100%);
}

.button_hero {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  width: 280px;
  height: 56px;
  padding-right: 10px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-clip-path: polygon(0 1%, 100% 0%, 90% 100%, 0% 100%);
          clip-path: polygon(0 1%, 100% 0%, 90% 100%, 0% 100%);
  background: -o-radial-gradient(6.3% 4.34%, 55.35% 80.52%, #E6AE3C 0%, #A1741A 100%), -o-radial-gradient(40.64% 48.21%, 44.38% 267.65%, #2B262F 0%, #151019 100%), #D9D9D9;
  background: radial-gradient(55.35% 80.52% at 6.3% 4.34%, #E6AE3C 0%, #A1741A 100%), radial-gradient(44.38% 267.65% at 40.64% 48.21%, #2B262F 0%, #151019 100%), #D9D9D9;
}

.button_hero:hover {
  color: #fff;
  opacity: 0.8;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 650px;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__image,
.hero__text {
  width: 48%;
}

.hero__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/hero_image_bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero__image img {
  max-width: 100%;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__text_title {
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.hero__text_description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin-bottom: 30px;
}

.auto {
  padding-bottom: 70px;
}

.auto__block {
  position: relative;
  height: 276px;
  margin-bottom: 40px;
}

.auto__block:last-child {
  margin-bottom: 0;
}

.auto__block::before {
  content: '';
  position: absolute;
  width: calc((100% - 1140px) / 2 + 15px + 390px);
  height: 100%;
  left: 0;
  z-index: 2;
  -webkit-clip-path: polygon(0 1%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0 1%, 100% 0%, 85% 100%, 0% 100%);
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.auto__block::after {
  content: '';
  position: absolute;
  width: calc((100% - 1140px) / 2 + 15px + 410px);
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-clip-path: polygon(0 1%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0 1%, 100% 0%, 85% 100%, 0% 100%);
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.auto__block_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.auto__block .coupon {
  position: relative;
  width: 62%;
  height: 280px;
}

.auto__block .coupon:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 96px;
  height: 100%;
  z-index: 2;
}

.auto__block .coupon__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
}

.auto__block .coupon__wrapper:before {
  content: '';
  position: absolute;
  top: 20px;
  right: 20px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  z-index: 10;
  background-image: url("../img/coupon_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.auto__block .coupon__wrapper:after {
  content: '';
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  height: 17px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#FFFFFF)), #E6AE3C;
  background: -o-linear-gradient(bottom, #FFFFFF, #FFFFFF), #E6AE3C;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #E6AE3C;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.auto__block .coupon__label {
  position: absolute;
  display: none;
  width: 230px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 15px 0 0 15px;
  z-index: 2;
}

.auto__block .coupon__info {
  position: relative;
  width: 520px;
  padding: 44px 0;
  padding-left: 24px;
  z-index: 99;
}

.auto__block .coupon__info_title {
  display: flex;
  position: relative;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
  min-height: 56px;
  align-items: center;
}

.auto__block .coupon__info_description {
  max-width: 90%;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.auto__block .coupon__info_button {
  position: relative;
  margin-bottom: 12px;
  z-index: 15;
}

.auto__block .coupon__info_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auto__block .coupon__cars {
  position: relative;
  width: calc(100% - 300px);
  padding: 50px 0 20px;
  padding-right: 20px;
  text-align: right;
  z-index: 15;
}

.auto__block .coupon__cars_label {
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;
}

.auto__block .coupon__cars_price {
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}

.auto__block .coupon__cars_image {
  position: relative;
}

.auto__block .coupon__cars_image:before {
  content: '';
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 6px;
  right: -15px;
  width: 19px;
  height: 22px;
  background-image: url("../img/bg_title.png");
}

.auto__block .coupon__cars_image img {
  max-width: 100%;
}

.auto__block .coupon__barcode {
  position: relative;
  width: 100px;
  height: 100%;
  padding: 50px 35px 50px 5px;
  z-index: 3;
}

.auto__block .coupon__barcode_label {
  width: 100%;
  height: 100%;
  background-image: url('../img/barcode.png');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.auto__block .coupon__small_margin .coupon__info_title,
.auto__block .coupon__small_margin .coupon__info_description,
.auto__block .coupon__small_margin .coupon__info_button {
    margin-bottom: 10px;
}

.auto__block_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38%;
  padding-left: 57px;
}

.auto__block_title {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.auto__block_description {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.auto__block_right:before {
  width: calc((100% - 1140px) / 2 + 90px);
  left: auto;
  right: 0;
  -webkit-clip-path: none;
          clip-path: none;
}

.auto__block_right:after {
  display: none;
}

.auto__block_right .coupon::before {
  content: '';
  position: absolute;
  width: 390px;
  height: 100%;
  left: 0;
  z-index: 2;
  -webkit-clip-path: polygon(0 1%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0 1%, 100% 0%, 85% 100%, 0% 100%);
}

.auto__block_right .coupon::after {
  content: '';
  position: absolute;
  width: 410px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-clip-path: polygon(0 1%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0 1%, 100% 0%, 85% 100%, 0% 100%);
}

.auto__block_right .coupon__wrapper {
  padding-left: 20px;
}

.auto__block_right .coupon__wrapper:before {
  right: auto;
  left: 20px;
}

.auto__block_right .coupon__cars {
  padding-right: 0;
}

.auto__block_right .coupon__barcode {
  padding: 50px 25px 50px 35px;
}

.auto__block_right .auto__block_text {
  padding-left: 0;
  padding-right: 57px;
}

/* gold left */
.auto__block_gold.auto__block_left:before {
    /* background-color: red; */
  background: -o-radial-gradient(39.87% 13.96%,  87.84% 104.37%, #A1741A 0%, #E6AE3C 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #A1741A 0%, #E6AE3C 100%);
}

.auto__block_gold.auto__block_left:after {
    /* background-color: blue; */
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E6AE3C 0%, #A1741A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E6AE3C 0%, #A1741A 100%);
}

.auto__block_gold.auto__block_left .coupon__label {
    /* background-color: orange; */
  background: -o-radial-gradient(14.26% 6.75%, 125.25% 125.25%, #E6AE3C 0%, #A1741A 100%);
  background: radial-gradient(125.25% 125.25% at 14.26% 6.75%, #E6AE3C 0%, #A1741A 100%);
}

.auto__block_gold.auto__block_left .coupon:before {
    /* background-color: yellow; */
  background: -o-radial-gradient(14.26% 6.75%, 125.25% 125.25%, #E6AE3C 0%, #A1741A 100%);
  background: radial-gradient(125.25% 125.25% at 14.26% 6.75%, #E6AE3C 0%, #A1741A 100%);
}
/* end gold left */

/* blue right */
.auto__block_gold.auto__block_right:before {
    /* background-color: yellow; */
  background: -o-radial-gradient(39.87% 13.96%,  87.84% 104.37%, #A1741A 0%, #E6AE3C 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #A1741A 0%, #E6AE3C 100%);
}

.auto__block_gold.auto__block_right .coupon:before {
    /* background: red; */
  background: -o-radial-gradient(39.87% 13.96%,  87.84% 104.37%, #A1741A 0%, #E6AE3C 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #A1741A 0%, #E6AE3C 100%);
}

.auto__block_gold.auto__block_right .coupon::after {
    /* background-color: blue; */
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E6AE3C 0%, #A1741A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E6AE3C 0%, #A1741A 100%);
}

.auto__block_gold.auto__block_right .coupon__info:after {
    /* background-color: orange; */
  background: -o-radial-gradient(14.26% 6.75%, 125.25% 125.25%, #E6AE3C 0%, #A1741A 100%);
  background: radial-gradient(125.25% 125.25% at 14.26% 6.75%, #E6AE3C 0%, #A1741A 100%);
}
/* end blue right */

/* blue left */
.auto__block_blue.auto__block_left:before {
  background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #1A50A1 0%, #3C94E6 100%);
  background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #1A50A1 0%, #3C94E6 100%);
}

.auto__block_blue.auto__block_left:after {
  background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #3C94E6 0%, #1A50A1 100%);
  background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #3C94E6 0%, #1A50A1 100%);
}

.auto__block_blue.auto__block_left .coupon__label {
  background: -o-radial-gradient(14.26% 6.75%, 125.25% 125.25%, #3C94E6 0%, #1A50A1 100%);
  background: radial-gradient(125.25% 125.25% at 14.26% 6.75%, #3C94E6 0%, #1A50A1 100%);
}

.auto__block_blue.auto__block_left .coupon:before {
  background: -o-radial-gradient(16.8% 13.96%, 120.9% 104.38%, #3C94E6 0%, #1A50A1 100%), #D9D9D9;
  background: radial-gradient(120.9% 104.38% at 16.8% 13.96%, #3C94E6 0%, #1A50A1 100%), #D9D9D9;
}
/* end blue left */

/* blue right */
.auto__block_blue.auto__block_right:before {
  background: -o-radial-gradient(16.8% 13.96%, 120.9% 104.38%, #3C94E6 0%, #1A50A1 100%), #D9D9D9;
  background: radial-gradient(120.9% 104.38% at 16.8% 13.96%, #3C94E6 0%, #1A50A1 100%), #D9D9D9;
}

.auto__block_blue.auto__block_right .coupon:before {
  background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #1A50A1 0%, #3C94E6 100%);
  background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #1A50A1 0%, #3C94E6 100%);
}

.auto__block_blue.auto__block_right .coupon::after {
  background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #3C94E6 0%, #1A50A1 100%);
  background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #3C94E6 0%, #1A50A1 100%);
}

.auto__block_blue.auto__block_right .coupon__info:after {
  background: -o-radial-gradient(14.26% 6.75%, 125.25% 125.25%, #3C94E6 0%, #1A50A1 100%);
  background: radial-gradient(125.25% 125.25% at 14.26% 6.75%, #3C94E6 0%, #1A50A1 100%);
}
/* end blue right */

/* orange left */
.auto__block_orange.auto__block_left:before {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #A15B1A 0%, #E68E3C 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #A15B1A 0%, #E68E3C 100%);
}

.auto__block_orange.auto__block_left:after {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E68E3C 0%, #A15B1A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E68E3C 0%, #A15B1A 100%);
}

.auto__block_orange.auto__block_left .coupon__label {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E68E3C 0%, #A15B1A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E68E3C 0%, #A15B1A 100%);
}

.auto__block_orange.auto__block_left .coupon:before {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E68E3C 0%, #A15B1A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E68E3C 0%, #A15B1A 100%);
}
/* end orange left */

/* orange right */
.auto__block_orange.auto__block_right:before {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E68E3C 0%, #A15B1A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E68E3C 0%, #A15B1A 100%);
}

.auto__block_orange.auto__block_right .coupon:before {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #A15B1A 0%, #E68E3C 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #A15B1A 0%, #E68E3C 100%);
}

.auto__block_orange.auto__block_right .coupon::after {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E68E3C 0%, #A15B1A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E68E3C 0%, #A15B1A 100%);
}

.auto__block_orange.auto__block_right .coupon__info:after {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E68E3C 0%, #A15B1A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E68E3C 0%, #A15B1A 100%);
}
/* ecnd orange right */

/* pink left */
.auto__block_pink.auto__block_left:before {
  background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #961AA1 0%, #E63CAC 100%);
  background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #961AA1 0%, #E63CAC 100%);
}

.auto__block_pink.auto__block_left:after {
  background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #E63CAC 0%, #961AA1 100%);
  background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #E63CAC 0%, #961AA1 100%);
}

.auto__block_pink.auto__block_left .coupon__label {
  background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #E63CAC 0%, #961AA1 100%);
  background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #E63CAC 0%, #961AA1 100%);
}

.auto__block_pink.auto__block_left .coupon:before {
  background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #E63CAC 0%, #961AA1 100%);
  background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #E63CAC 0%, #961AA1 100%);
}
/* end pink left */

/* pink right */
.auto__block_pink.auto__block_right:before {
  background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #E63CAC 0%, #961AA1 100%);
  background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #E63CAC 0%, #961AA1 100%);
}

.auto__block_pink.auto__block_right .coupon:before {
  background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #961AA1 0%, #E63CAC 100%);
  background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #961AA1 0%, #E63CAC 100%);
}

.auto__block_pink.auto__block_right .coupon::after {
  background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #E63CAC 0%, #961AA1 100%);
  background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #E63CAC 0%, #961AA1 100%);
}

.auto__block_pink.auto__block_right .coupon__info:after {
  background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #E63CAC 0%, #961AA1 100%);
  background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #E63CAC 0%, #961AA1 100%);
}
/* ecnd pink right */

/* redorange left */
.auto__block_redorange.auto__block_left:before {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #A15B1A 0%, #E63C3C 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #A15B1A 0%, #E63C3C 100%);
}

.auto__block_redorange.auto__block_left:after {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E63C3C 0%, #A15B1A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E63C3C 0%, #A15B1A 100%);
}

.auto__block_redorange.auto__block_left .coupon__label {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E63C3C 0%, #A15B1A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E63C3C 0%, #A15B1A 100%);
}

.auto__block_redorange.auto__block_left .coupon:before {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E63C3C 0%, #A15B1A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E63C3C 0%, #A15B1A 100%);
}
/* end redorange left */

/* redorange right */
.auto__block_redorange.auto__block_right:before {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E63C3C 0%, #A15B1A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E63C3C 0%, #A15B1A 100%);
}

.auto__block_redorange.auto__block_right .coupon:before {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #A15B1A 0%, #E63C3C 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #A15B1A 0%, #E63C3C 100%);
}

.auto__block_redorange.auto__block_right .coupon::after {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E63C3C 0%, #A15B1A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E63C3C 0%, #A15B1A 100%);
}

.auto__block_redorange.auto__block_right .coupon__info:after {
  background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E63C3C 0%, #A15B1A 100%);
  background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E63C3C 0%, #A15B1A 100%);
}
/* ecnd redorange right */

/* violet left */
.auto__block_violet.auto__block_left:before {
  background: -o-radial-gradient(16.8% 13.96%, 120.9% 104.38%, #A53CE6 0%, #451AA1 100%);
  background: radial-gradient(120.9% 104.38% at 16.8% 13.96%, #A53CE6 0%, #451AA1 100%);
}

.auto__block_violet.auto__block_left:after {
  background: -o-radial-gradient(16.8% 13.96%, 120.9% 104.38%, #451AA1 0%, #A53CE6 100%);
  background: radial-gradient(120.9% 104.38% at 16.8% 13.96%, #451AA1 0%, #A53CE6 100%);
}

.auto__block_violet.auto__block_left .coupon__label {
  background: -o-radial-gradient(16.8% 13.96%, 120.9% 104.38%, #A53CE6 0%, #451AA1 100%);
  background: radial-gradient(120.9% 104.38% at 16.8% 13.96%, #A53CE6 0%, #451AA1 100%);
}

.auto__block_violet.auto__block_left .coupon:before {
  background: -o-radial-gradient(16.8% 13.96%, 120.9% 104.38%, #A53CE6 0%, #451AA1 100%);
  background: radial-gradient(120.9% 104.38% at 16.8% 13.96%, #A53CE6 0%, #451AA1 100%);
}
/* end violet left */

/* violet right */
.auto__block_violet.auto__block_right:before {
  background: -o-radial-gradient(16.8% 13.96%, 120.9% 104.38%, #A53CE6 0%, #451AA1 100%);
  background: radial-gradient(120.9% 104.38% at 16.8% 13.96%, #A53CE6 0%, #451AA1 100%);
}

.auto__block_violet.auto__block_right .coupon:before {
  background: -o-radial-gradient(16.8% 13.96%, 120.9% 104.38%, #A53CE6 0%, #451AA1 100%);
  background: radial-gradient(120.9% 104.38% at 16.8% 13.96%, #A53CE6 0%, #451AA1 100%);
}

.auto__block_violet.auto__block_right .coupon::after {
  background: -o-radial-gradient(16.8% 13.96%, 120.9% 104.38%, #451AA1 0%, #A53CE6 100%);
  background: radial-gradient(120.9% 104.38% at 16.8% 13.96%, #451AA1 0%, #A53CE6 100%);
}

.auto__block_violet.auto__block_right .coupon__info:after {
  background: -o-radial-gradient(16.8% 13.96%, 120.9% 104.38%, #A53CE6 0%, #451AA1 100%);
  background: radial-gradient(120.9% 104.38% at 16.8% 13.96%, #A53CE6 0%, #451AA1 100%);
}
/* ecnd violet right */

/* coupone carousel start */
.auto__block.carousel__block {
}
    
.auto__block.carousel__block:before {
  width: 320px;
  -webkit-clip-path: polygon(0 0%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(0 0%, 100% 0%, 85% 100%, 0% 100%);
}

.auto__block.carousel__block:after {
  width: 340px;
}

.auto__block.carousel__block .coupon {
  width: 100%;
  background: radial-gradient(48.99% 59.86% at 50% 0%, #211E24 0%, #151019 100%);
}

.auto__block.carousel__block .coupon:before {
  width: 90px;
}

.auto__block.carousel__block .coupon__info {
  max-width: 340px;
}

.auto__block.carousel__block .coupon__wrapper:before {
  left: 10px;
  right: 10px;
}

.auto__block.carousel__block .coupon__info_title {
  font-size: 22px;
}

.auto__block.carousel__block .coupon__info_description {
    min-height: 72px;
}

.auto__block.carousel__block img {
    width: auto;
}
/* coupone carousel end */

.coupon-date { color: #fff; }

.auto__block, .auto__block .coupon,
  .auto__block-2, .auto__block-2 .coupon,
  .auto__block-3, .auto__block-3 .coupon,
  .auto__block-4, .auto__block-4 .coupon,
  .auto__block-5, .auto__block-5 .coupon,
  .auto__block-6, .auto__block-6 .coupon,
  .auto__block-7, .auto__block-7 .coupon { height: auto; }

.auto__block-2 .coupon__cars_image,
.auto__block-3 .coupon__cars_image,
.auto__block-7 .coupon__cars_image,
.auto__block-8 .coupon__cars_image,
.auto__block-9 .coupon__cars_image {
  top: 35px;
  left: 15px;
}
.auto__block-4 .coupon__cars_image,
.auto__block-5 .coupon__cars_image,
.auto__block-6 .coupon__cars_image { top: 10px; left: 15px; }

@media screen and (min-width: 1300px) {
  .hero__image {
    min-height: 550px;
  }
}

@media screen and (max-width: 1600px) {
  .auto__block .coupon__info_title {
    font-size: 28px;
  }
}

@media screen and (max-width: 1320px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }

  .auto__block::before {
    width: 350px;
  }

  .auto__block::after {
    width: 370px;
  }

  .auto__block_right:before {
    width: 120px;
  }

  .auto__block_right .coupon::before {
    width: 330px;
  }

  .auto__block_right .coupon::after {
    width: 350px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 20px;
  }

  .button_hero {
    width: 200px;
    height: 46px;
    font-size: 20px;
    padding-right: 45px;
  }

  .hero__text_title {
    font-size: 52px;
  }

  .auto__block::before {
    display: none;
  }

  .auto__block::after {
    display: none;
  }

  .auto__block .coupon:before {
    border-radius: 0 15px 15px 0;
  }

  .auto__block .coupon__wrapper:before {
    top: 20px;
    right: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }

  .auto__block .coupon__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .auto__block .coupon__info {
    width: 250px;
    padding: 40px 0;
    padding-left: 24px;
  }

  .auto__block .coupon__info_title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .auto__block .coupon__cars {
    padding: 44px 0 20px;
    padding-right: 10px;
    padding-left: 20px;
  }

  .auto__block .coupon__cars_image:before {
    display: none;
  }

  .auto__block_right .coupon::before {
    width: 96px;
    left: auto;
    right: 0;
    -webkit-clip-path: none;
            clip-path: none;
  }

  .auto__block_right .coupon::after {
    width: 220px;
    border-radius: 15px 0 0 15px;
    -webkit-clip-path: none;
            clip-path: none;
  }

  .auto__block_right .coupon__wrapper {
    padding-left: 0;
  }

  .auto__block-2 .coupon__cars_image, 
  .auto__block-3 .coupon__cars_image, 
  .auto__block-4 .coupon__cars_image, 
  .auto__block-5 .coupon__cars_image, 
  .auto__block-6 .coupon__cars_image, 
  .auto__block-7 .coupon__cars_image { left: 0; }
}

@media screen and (max-width: 900px) {
  .auto__block .coupon {
    width: 60%;
  }

  .auto__block_text {
    width: 40%;
  }

  
}

@media screen and (max-width: 767px) {
    .auto__block.carousel__block img {
        margin: 0 auto;
    }
    
    
  .button {
    height: 25px;
    font-size: 10px;
    padding-right: 20px;
  }

  .button_black {
    height: 36px;
    -webkit-clip-path: none;
            clip-path: none;
  }

  .hero__image,
  .hero__text {
    width: 100%;
  }

  .hero__image {
    margin-bottom: 20px;
  }

  .hero__text_title {
    font-size: 28px;
  }

  .hero__text_description {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .auto__block {
    height: auto;
  }

  .auto__block .container {
    padding: 0 5px;
  }

  .auto__block_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .auto__block .coupon {
    width: 100%;
    max-width: 360px;
  }
  
  .auto__block .coupon:before {
    display: none;
  }

  .auto__block .coupon__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .auto__block .coupon__wrapper:before {
    top: 10px;
    background-image: url("../img/coupon_bg_mobile.png");
  }
  
  .auto__block .coupon__wrapper:after {
    display: none;
  }

  .auto__block .coupon__label {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 60%;
    border-radius: 0;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  }

  .auto__block .coupon__info {
    width: 100%;
    padding: 10px 35px 20px 35px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
  }
  
  .auto__block .coupon:before,
  .auto__block.carousel__block .coupon:before {
    width: 70px;
  }
  
  .auto__block.carousel__block .coupon {
    border-radius: 15px;  
  }

  .auto__block .coupon__info_title,
  .auto__block.carousel__block .coupon__info_title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .auto__block .coupon__info_title {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .auto__block .coupon__info_description {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .auto__block .coupon__info_button {
    margin-bottom: 10px;
  }

  .auto__block .coupon__info_logo {
    display: none;
  }

  .auto__block .coupon__cars {
    width: 100%;
    padding: 20px 50px 0 50px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .auto__block .coupon__cars_price {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .auto__block .coupon__cars_image {
    text-align: center;
    top: 0 !important;
  }

  .auto__block .coupon__barcode {
    width: 100%;
    height: auto;
    padding: 35px 40px 15px 40px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .auto__block .coupon__barcode_label {
    background-image: url("../img/barcode_mobile.png");
    width: 95%;
    height: 43px;
    margin: 0 auto;
  }

  .auto__block_text {
    width: 100%;
    padding: 0 15px;
    padding-top: 30px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .auto__block_title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .auto__block_description {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .auto__block_right .auto__block_text {
    padding: 0 15px;
    padding-top: 20px;
  }
  
  .auto__block_right .coupon::after {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 60%;
    border-radius: 0;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
  }
  
  .auto__block_gold .coupon__barcode {
    background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #A1741A 0%, #E6AE3C 100%);
    background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #A1741A 0%, #E6AE3C 100%);
  }
  
  .auto__block_blue .coupon__barcode {
      background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #1A50A1 0%, #3C94E6 100%);
      background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #1A50A1 0%, #3C94E6 100%);
  }
  
  .auto__block_orange .coupon__barcode {
      background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #A15B1A 0%, #E68E3C 100%);
      background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #A15B1A 0%, #E68E3C 100%);
  }
  
  .auto__block_pink .coupon__barcode {
      background: -o-radial-gradient(16.88% 13.96%, 121.43% 104.37%, #961AA1 0%, #E63CAC 100%);
      background: radial-gradient(121.43% 104.37% at 16.88% 13.96%, #961AA1 0%, #E63CAC 100%);
  }
  
  .auto__block_redorange .coupon__barcode {
      background: -o-radial-gradient(39.87% 13.96%, 87.84% 104.37%, #E63C3C 0%, #A15B1A 100%);
      background: radial-gradient(87.84% 104.37% at 39.87% 13.96%, #E63C3C 0%, #A15B1A 100%);
  }
  
  .auto__block_violet .coupon__barcode {
      background: -o-radial-gradient(16.8% 13.96%, 120.9% 104.38%, #A53CE6 0%, #451AA1 100%);
      background: radial-gradient(120.9% 104.38% at 16.8% 13.96%, #A53CE6 0%, #451AA1 100%);
  }
}


@media (mib-width: 768px) and (max-width: 992px) {
    .auto__block .coupon__cars_image {
        top: 50% !important;
        transform: translateY(-50%);
    }
}

.exchange {
    padding: 60px 0;
}