.MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.MuiSvgIcon-colorPrimary {
    color: #18A2D5;
}

.jss399 {
    color: rgba(15, 16, 17, 0.65);
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 16px;
}

.jss407 {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 16px;
}

.MuiTypography-subtitle1 {
    font-size: 0.9375rem;
    color: rgba(15, 16, 17, 0.65);
    font-weight: 500;
    line-height: 1.75;
    font-family: "MazdaType-Regular";
    letter-spacing: 2px;
}

.jss406 {
    display: flex;
}

.MuiIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0.04) !important;
}

.jss546 {
    border: 1px solid lightgray;
    background-color: rgba(15, 16, 17, 0.06);
}

.items {
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.items-header {
    padding: 8px 0px;
}

.item-container {
    border-bottom: 1px solid rgba(15, 16, 17, 0.06);
    border-right: 1px solid rgba(15, 16, 17, 0.06);
    background-color: rgb(255, 255, 255);
    color: rgba(15, 16, 17, 0.65);
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.MuiTypography-subtitle2 {
    font-size: 0.875rem;
    font-family: "MazdaType-Regular", IBM Plex Sans, NotoSans-Regular, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.57;
    margin: 0;
    letter-spacing: 2px;
}

.item-container-disabled {
    padding: 8px 0px;
    border-bottom: 1px solid rgba(15, 16, 17, 0.06) !important;
    border-right: 1px solid rgba(15, 16, 17, 0.06) !important;
    background-color: rgba(15, 16, 17, 0.06) !important;
    color: rgba(15, 16, 17, 0.38) !important;
}

.MuiTypography-subtitle2 span {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.MuiTypography-subtitle2 span:first-child {
    font-weight: 500;
}

.MuiTypography-subtitle2 span:last-child {
    font-style: italic
}

.items-column {
    flex-direction: column;
}
.item-time-grid {
    height: 35px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    text-align: center;
    border-right: 1px solid rgba(15, 16, 17, 0.06);
    border-bottom: 1px solid rgba(15, 16, 17, 0.06);
    background-color: #FFFFFF;
}

.item-time-grid-dummy {
    height: 36px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    text-align: center;
    border-right: none;
    border-bottom: none;
    background: rgba(15, 16, 17, 0.06);
}

.MuiTypography-caption {
    font-size: 0.75rem;
    font-family: "MazdaType-Regular", IBM Plex Sans, NotoSans-Regular, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.66;
    color: rgba(15, 16, 17, 0.65);
    font-weight: 500;
}

.item-time-grid:not(.selected-time):hover {
    cursor: pointer;
    background-color: #F3FAFD;
}

.selected-time {
    width: 100%;
    text-align: center;
    border-right: 1px solid rgba(15, 16, 17, 0.06);
    border-bottom: 1px solid rgba(15, 16, 17, 0.06);
    background-color: #18A2D5;
}

.selected-time .MuiTypography-caption {
    color: #ffffff;
}

.w-100 {
    width: 100%;
}

.loader-gif {
    background: #fff;
    text-align: center;
    padding: 40px 0;
}